In [1]:
data = pd.read_csv('C:/Users/Dmitry/Desktop/курс питон/ml-latest-small/ratings.csv')

NameError: name 'pd' is not defined

In [2]:
data.head()

NameError: name 'data' is not defined

In [1]:
import pandas as pd

In [2]:
#Задача 1
data = pd.read_csv('C:/Users/Dmitry/Desktop/курс питон/ml-latest-small/ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
def raiting_class(some_data):
    l=[]
    for line in data.rating:
        if line>=4.5:
            l.append('высокий рейтинг')
        elif 2<line<4.5:
            l.append('средний рейтинг')
        elif line<=2:
            l.append('низкий рейтинг')
    data['class']=l
    return data

In [8]:
data2=raiting_class(data)
data2.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [9]:
#Задача 2
df = pd.read_csv('C:/Users/Dmitry/Desktop/курс питон/ml-latest-small/keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [18]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [33]:
towns=[]
for values in geo_data.values():
        for i in values:
            towns.append(i)
towns

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [40]:

data3=row.split(' ')
def check(t):
        for i in t:
            if i in towns:
                for items in geo_data.items():
                    if i in items[1]:
                        print(items[0])
check(data3)

Центр

In [41]:
def region_in_keyword(row):
        data3=row['keyword'].split(' ')
        i=0
        for word in data3:
            if word in towns:
                for items in geo_data.items():
                    if word in items[1]:
                        i+=1
                        return items[0]
        if i==0:
            return 'undefined'

In [42]:
df['region'] = df.apply(region_in_keyword, axis=1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined